.header-container {
  display: flex;
  justify-content: flex-end;
  align-items: center;
  color: white;
  padding: 1rem;

  .create-video-button {
    display: flex;
    align-items: center;
    border: none;
    gap: 8px;
    padding: 10px 16px;
    background: black;
    border-radius: 24px;
    color: white;
    font-weight: bold;
    cursor: pointer;

    &:hover {
      background: #414141;
    }
  }
}
