.layout-container {
  display: flex;
  flex-direction: column;
  height: 900px;
  max-width: 100vw;

  .layout-main {
    flex: 1;
    display: flex;
    justify-content: center;
    width: 60vw;
    margin: 0 auto;
  }
}
